@charset "UTF-8";


/* ////////// 1439px ////////// */
@media (max-width:1439px){
  .con1, .con2 { 
    width:100%;
  }
  .section2-title {
      font-size: 32px;
  }
}

/* ////////// 1023px ////////// */
@media (max-width:1023px){    
  /* header */
  /* header {
    border-top: 4px solid #0d4633;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }
  .navbar_menu{
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_links {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  } */

  /* section3 */
  .section3_wrap {
    display: block;
    text-align: center;
  }
  .section3_txt {
    margin-right: 0;
  }
  .section3_image {
    transition: all 1s;
    transform: scale(0.7);
  }
  #section4 {
    margin-top: -90px;
  }
}

@media screen and (max-width: 768px) {
  /* common */
  h2 {
    font-size: 38px;
  }
  
  /* section2 */
  .swiper-container::after,
  .swiper-container::before {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  /* section3 */
  .section3_txt p {
    font-size: 16px;
    margin: 30px 0 40px 0;
  }
  /* footer */
  .info_wrap {
    font-size: 14px;
  }
  .info01 span {
    display: block;
    margin-bottom: 5px;
  }
  .info_link ul li {
    padding: 5px 10px;
  }
  .info_sns ul li a {
    font-size: 21px;
  }
}