@charset "UTF-8";
.inner {
  width: 1260px;
}


#header_wrap {
  position: relative;
  top: 0;
  left :0;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 999;
  color: #fff;
}
#header_wrap.scroll {
  background:rgba(255,255,255,0.9);
  color:#000;
}
header {
  position: relative;
  margin: 0 4vw;
}
.logo {
  position: absolute;
  top: 36px;
  left: 0;
  transition:all 300ms;
}
.logo a {
  display: block;
  color: inherit;
  font-weight: normal;
  line-height: 1.2;
}
.logo01 {
  display: block;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
}
.logo02 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 3px;
}

.menu_container {
  width: 100%;
  text-align: right;
  padding: 30px 0;
}
#menu { 
  display:inline-block;
}
#menu > li {
  display:inline-block;
}
#menu > li > a {
  display:block;
  padding: 8px 20px;
  color: inherit;
}


.search_container{
  position:absolute;
  right:200px; 
  top:55px;
}
.search_container a {
  color: inherit;
  font-size: 0.8rem;
}


.m_menuBtn {
  position:absolute;
  display: none;
  right:0; 
  top:30px;
  width:24px; 
  height:24px;
}
.m_menuBtn span { 
  position:absolute;
  width:100%; 
  height:4px;
  background:#fff;
}

#header_wrap.scroll .m_menuBtn span{
  background:#000;
}

.m_menuBtn_line1 { top:5px; }
.m_menuBtn_line2 { top:14px; }

.m_menuBtn.on .m_menuBtn_line1 { 
  transform:rotate(45deg);
  top:8px; 
}
.m_menuBtn.on .m_menuBtn_line2 { 
  transform:rotate(-45deg);
  top:8px; 
}



/* ////////// main visual ////////// */
.visual {
  text-align: center;
}
.visual_pc {
  max-width: 100%;
}
.visual_m {
  display: none;
}

/* ////////// section1 ////////// */
.section1 {
  background: #f8f8f8;
  width: 100%;
  height: 500px;
}
.swiper-slide { 
  height: 300px; 
}
.s01 { background: #DB1C5C; }
.s02 { background: #B73280; }
.s03 { background: #864690; }

/* ////////// section2 ////////// */
.section2 {
  background: #e2f4fa;
  width: 100%;
  height: 500px;
}

/* ////////// section3 ////////// */
.section3 {
  background: #ecf1ff;
  width: 100%;
  height: 500px;
}